@import "../../index.css";


.heroSection {
  /* Styles for the hero section */
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0 10%;
  margin-top: 7%;

}

.heroLeftContent {
  /* Styles for the left content in the hero section */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* .heroSection .heroLeftContent {
  animation-name: var(--slide-from-left);
  animation-duration: var(--animation-duration);
  animation-timing-function: var(--animation-timing-function);
  animation-iteration-count: 1;
  transition: var(--transition);
} */

.heroheader {
  /* Styles for the hero header */
  color: #DF6951;
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 500;

}

.heroTitle {
  /* Styles for the hero title */
  /* background: #181E4B; */
  /* background: linear-gradient(119deg, rgba(93, 58, 180, 1) 0%, rgba(136, 116, 160, 1) 49%, rgba(180, 123, 177, 1) 100%); */
  /* background: linear-gradient(119deg, rgba(73, 43, 147, 1) 0%, rgba(110, 53, 107, 1) 100%); */
  /* background: linear-gradient(126deg, rgba(13, 33, 70, 0.98) 0%, rgba(180, 100, 161, 1) 100%); */
  /* background: linear-gradient(73deg, rgba(20, 2, 80, 0.98) 0%, rgba(147, 59, 126, 1) 100%); */
  /* background: linear-gradient(73deg, rgba(20, 2, 80, 0.98) 0%, rgba(73, 7, 57, 1) 100%); */
  background: linear-gradient(73deg, rgba(20, 2, 80, 0.98) 0%, rgba(100, 1, 69, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 74px;
  font-family: "Inter";
  font-weight: 800;
  transition: all 2s;
}


.heroSubheader {
  /* Styles for the hero subheader */

  font-size: 16px;
  font-family: "Roboto";
  font-weight: 300;
  color: #27282b;
  ;

}

.heroButtonContainer {
  /* Styles for the container of hero buttons */
  display: flex;

}

.findOutMoreButton {
  /* Styles for the find out more button */
  display: flex;
  width: 21vh;
  height: 7vh;
  background-color: #F1A501;
  color: #ffffff;
  font-size: 18px;
  font-family: "Roboto";
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;

}

.playButtonContainer {
  /* Styles for the container of play button */
  display: flex;
  align-items: center;
  border: 1px solid green;


}

.playIconContainer {
  width: 45%;
  height: 20%;

}

.playButtonIcon {
  /* Styles for the play button icon */
  width: 45%;
  background-color: #ffff;
}

.playButton {
  /* Styles for the play button */


}

.heroImage {
  /* Styles for the hero image */
  width: 45%;
}

/* .heroSection .heroImage {
  animation-name: var(--slide-from-right);
  animation-duration: var(--animation-duration);
  animation-timing-function: var(--animation-timing-function);
  transition: var(--transition);
  animation-iteration-count: 1;
} */

@media screen and (max-width: 830px) {

  .heroSection {
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
    margin-top: 18%;
  }

  .heroLeftContent {
    align-items: center;
  }

  .heroTitle {
    text-align: center;
  }

}


