.navbar {
    /* Styles for the navbar */
    position: relative;
    display: flex;
    padding: 3% 10%;
    justify-content: space-between;
    z-index: 1000;
    align-items: center;
    /* background-color: #fff; */
    /* border: 2px solid green; */

  }

 


  
  .navbarTitle {
    /* Styles for the navbar title */
    color: #181E4B;
    font-size: 30px;
    font-family: "Inter";
    font-weight: 700;
    font-style: normal;
  }
  
  .navbarContent {
    /* Styles for the navbar content */
  }
  
  .menuIcon {
    /* Styles for the menu icon */
    display: none;
    cursor: pointer;
  }
  
  .navbarMenu {
    /* Styles for the menu */
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    list-style: none;
}

  .menuOpen{

  }
  
  .menuItem {
    /* Styles for the menu items */
  }

  .menuItem a{
    color:#181E4B;
    font-size: 20px;
    font-family: "Inter";
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
  }


    .sticky_nav{
      position: sticky;
      top: 0;
      background-color: #f2eff6;
    -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }




  @media screen and (max-width: 830px) {

    .menuIcon {
        display: flex;
    }

      .navbarMenu {
        display: none;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        background-color: rgb(229, 240, 240);
        border-radius: 10px;
        position: absolute;
        padding: 28px;
        right: 2%;
        z-index: 20;
        align-items: center;
        
        box-shadow: 0px 0px 10px rgba(20, 24, 62, .1), 0px 0px 10px rgba(78, 78, 115, .5);

    }

    .menuOpen{
        display: flex;
    }
    
  }
  




@keyframes shadow-drop-2-center {
  0% {
            transform: translateZ(0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {

            transform: translateZ(50px);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
